body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.row {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  height: 0.7em;
  margin: 0;
}

.cell {
  border: 1px solid black;
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
}

